body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.result {
    margin-top: 20px;
    color: #333;
}
img {
    margin-top: 15px;
    border-radius: 10px;
}
